.username{
    font-weight: bold;
}

.products{
    display: flex;
    flex-direction: column;
    margin: 10px 5px 0 0;
}

.bukti{
    display: flex;
    align-items: center;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.productContainer{
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.subtotalContainer{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin: 3px 0;
}

.right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.verifCard{
    background-color: white;
    border-radius: 20px;      
    padding: 15px 20px;
    width: 70%;
    margin: 10px 0;
}

.verifButton{
    text-align: center;
    width: 150px;
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 25px;
    background-color: #81B29A;
    color: white;
    font-weight: 600;
    cursor: pointer;
}